Flask
Flask-SQLAlchemy
Flask-JWT-Extended
Flask-CORS
marshmallow
marshmallow-sqlalchemy
gunicorn
psycopg2-binary  # PostgreSQL support
python-dotenv  # Load .env file
Flask-Migrate  # Database migrations
alembic  # Required for Flask-Migrate
flask-debugtoolbar  # Debugging tool
pytest  # Testing framework
pytest-flask  # Flask testing utilities
# faker  # Fake data generator (useful for tests)
flask_socketio  # WebSocket support
flask-cors
